/* Import fonts */

@font-face {
    font-family: logo;
    src: url('./fonts/Perfect-Girlfriend-BF6932ebe9d7d86.otf');
}

@font-face {
    font-family: light;
    src: url('./fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: reg;
    src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: mid;
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: semi;
    src: url('./fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: bold;
    src: url('./fonts/Raleway-Bold.ttf');
}







/* ---------- Variables ---------- */

:root {
    --green: #2aa169;
    --white: #fff;
    --black: #131313;
    --light-gray: #cecece96;
}







/* ---------- Globals ---------- */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    outline: none;
    border: none;
    font-weight: normal;
}

body {
    color: var(--black);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/* ---------- Font family ---------- */

.f-light {
    font-family: light;
}

.f-reg {
    font-family: reg;
}

.f-mid {
    font-family: mid;
}

.f-semi {
    font-family: semi;
}

.f-bold {
    font-family: bold;
}

.f-logo {
    font-family: logo;
}







/* ----------- Colors ------------ */

.txt-white {
    color: var(--white);
}

.txt-green {
    color: var(--green);
}

.txt-black {
    color: var(--black);
}

.green-bg {
    background-color: var(--green);
}







/* ---------- Spacing ------------ */

.mt-5r {
    margin-top: 5rem;
}

.mt-2r {
    margin-top: 2rem;
}

.pt-_5 {
    padding-top: 0.5rem;
}

.pb-_5 {
    padding-bottom: 0.5rem;
}

.pt-_75 {
    padding-top: 0.75rem;
}

.pb-_75 {
    padding-bottom: 0.75rem;
}


.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pt-1_5 {
    padding-top: 1.5rem;
}

.pb-1_5 {
    padding-bottom: 1.5rem;
}

.pl-1_5 {
    padding-left: 1.5rem;
}

.pr-1_5 {
    padding-right: 1.5rem;
}

.gap-_5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.f-sp-1 {
    letter-spacing: 1px;
}

.f-sp-2 {
    letter-spacing: 2px;
}

.bottom-10pc {
    bottom: 10%;
}

.right-0 {
    right: 0;
}

.transx-10r {
    transform: translateX(10rem);
}






/* ---------- Size ----------- */

.sm-txt {
    font-size: 12px;
}

.nm-txt {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
}

.f-25 {
    font-size: 25px;
}

.w-100pc {
    width: 100%;
}

.w-50pc8rem{
    width: calc((100% / 2) + 8rem);
}

.w-50-2r {
    width: calc((100% - 2rem) / 2);
}

.h-100pc {
    height: 100%;
}

.h-40r {
    height: 40rem;
}

.h-30r {
    height: 30rem;
}







/* ---------- Display ----------- */

.container {
    width: 1150px;
    margin: 0 auto;
}

.o-hide {
    overflow: hidden;
}

.o-hide-x {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.sp-btw {
    justify-content: space-between;
}

.v-center {
    align-items: center;
}

.b-shadow-light {
    box-shadow: 0px 2px 4px 0px var(--light-gray);
}

.br-3 {
    border-radius: 3px;
}

.br-5 {
    border-radius: 5px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}